fastapi
uvicorn[standard]
python-multipart==0.0.20
pydantic
aiofiles==24.1.0
langchain
PyMuPDF
motor
openai
cohere
qdrant_client
sqlalchemy
asyncpg
pgvector
nltk
prometheus-client 
starlette-exporter
fastapi-health 

